body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: sans-serif;
}

.top {
    background-color: #1f2937;
    margin: 0px;
    padding: 0px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul  {
    display: flex;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}

li  {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

a  {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.content {
    margin: 0px;
    padding: 0px 50px;
}

.hero  {
    display: flex;
    padding: 100px 0px;
    gap: 20px;
    justify-content: center;
}

.hero-text {
    /* flex: 1; */
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 5px 0px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 5px 20px 5px;
}

.top-image {
    max-width: 720px;
    height: auto;
    /* flex: 2; */
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    color: white;
    border-style: none;
    font-weight: 800;
    height: 50px;
    width: 100px;
    margin: 0px;
    font-size: 18px;
    padding: 0px;
}  

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.content h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 25px;
}

.unit img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    border-color: #3882f6;
    border-width: 5px;
    border-style: solid;
}

.unit {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 50px; 
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

#q-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

#q-name {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
    margin-top: 0px;
    padding-right: 100px;
}

.action {
    background-color: #3882f6;
    margin: 100px;
    padding: 25px 100px;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-button   {
    flex: 1;
    justify-self: flex-end;
    text-align: center;
}

.a-button button{
    border-style: solid;
    border-color: white;
    height: 50px;
    width: 100px;
    margin: 0px;
    font-size: 18px;
    padding: 0px;
}

.action-text  {
    margin: 0px;
    flex: 2;
    justify-items: flex-start;
    color: white;
}

.action-text h3 {
    font-size: 24px;
    margin: 3px;
}

.action-text p {
    font-size: 18px;
    margin: 3px;
}

.footer {
    justify-self: stretch;
    text-align: center;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px;
}